#cover {
    background-color: #F1F3FF;
    padding-top: 80px;
}

#cover h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
 }

#cover p {
    max-width: 500px; 
}

nav {
    background-color: #F1F3FF;
 }

 ul.navbar-nav {
    padding: 0 50px;
}

 h1 {
    font-family: 'Helvetica';
    font-style: normal;
    
    padding-bottom: 15px;
 }

 .banner h1 {
    padding-top: 30px;
    font-weight: 700;
    font-size: 36px;
    line-height: 150%;
 }

 h2 {
    font-family: 'Helvetica';
    font-style: normal;
    line-height: 36px;
    
    padding-bottom: 15px;

 }

h2.accordion-header {
    padding-left: 0px;
    margin-bottom: -13px;
 }

.our-services h2, .why-us h2, .testimonial h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

.faq h2 {
    font-weight: 700;
    font-size: 24px;
}

h3 {
    font-family: 'Helvetica';
    font-style: normal;
    
    padding-top: 20px;
}

.why-us h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

 p,li { 
    max-width: 1500px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
 }

 p.item {
    padding-top: 10px;
 }

footer a{ 
    font-weight: 700;
 }

.our-services p {
    max-width: 520px;
}

button.btn-regist, button.btn-sewa, button.btn-sewa-mobil {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    
    background: #5CB85F;
    border-radius: 2px;
}

button.btn-sewa-mobil {
    margin-top: 40px;
}

section.our-services {
    padding-top: 80px;
}

section.why-us {
    padding-top: 80px;
}

section.testimonial {
    padding-top: 80px;
    
}
section.faq {
    padding-top: 80px;
}

#why-us .card {
    height: 196px;
}

#testimonial .card {
    background-color: #F1F3FF;
    height: 270px;
}

#testimonial .card-body {
    display: grid;
    align-items: center;
}

.banner {
    margin-top: 100px;
    height: 400px;
    color: white;
    background-color:#0D28A6;
    border-radius: 13px;
}

#our-services ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#our-services li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#our-services li:before{
    content: url('../img/checklist.svg');
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

#accordionPanelsStayOpenExample .accordion-item {
    border-top: 2px solid #D4D4D4;
    border-bottom: 2px solid #D4D4D4;
    border-left: 2px solid #D4D4D4;
    border-right: 2px solid #D4D4D4;
    border-radius: 4px;
}

footer {
    padding-top: 150px;
}

footer a:link {color: black;text-decoration:none;}
footer a:visited {color: black;text-decoration:none;}
footer a:hover {text-decoration:underline;}

/* swiper css */
.carousel-wrapper{
    overflow: hidden;
}
.swiper-container {
    width: 50%;
    overflow: visible;
    margin: 0 auto;
}
.swiper-navigation{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button.swiper-prev{
    display: flex;
    content: url('../img/left_button.svg');
    border: 0;
    background: transparent;
    justify-items: center;
}

button.swiper-next{
    display: flex;
    content: url('../img/right_button.svg');
    border: 0;
    background: transparent;
    justify-items: center;
}

@media only screen and (max-width: 1200px) {
    #why-us .header, #faq .header {
        text-align: center;
    }
    p.item {
        font-size: 12px;
     }
}
@media only screen and (max-width: 992px) {
   #our-services .header{
     align-items: center;
   }
   p.star{
    text-align: center;
   }
   ul.navbar-nav {
    padding: 0;
}
}

 @media screen and (max-width: 768px) {
    .swiper-container {
        width: 100%;
    }
    footer{
        padding-top: 50px;
    }
}

